<div class="page page-with-subnavbar">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="subnavbar">
        <!-- Searchbar inside of Subnavbar -->
        <form class="searchbar searchbar-init" data-search-container=".list" data-search-in=".item-title" style="width: 100%;">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="검색어를 입력하세요..." />
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button if-not-aurora">취소</span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="block searchbar-hide-on-search">
      <p>
        제휴 업체 또는 매장 이름으로 검색 가능합니다.
        선택 시 해당 업체에 대한 혜택 상세 팝업이 표시됩니다.
      </p>
    </div>
    <div class="list searchbar-found">
      <ul>
        <% @elements.each do |elem| %>
          <li class="item-link item-content popup-open" data-popup=".demo-popup-<%= elem.id %>">
            <div class="item-inner">
              <div class="item-title"><%= elem.name %></div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="block searchbar-not-found">
      <div class="block-inner">검색 결과가 없습니다.</div>
    </div>
  </div>

  <!-- Searchbar backdrop layer -->
  <div class="searchbar-backdrop"></div>
</div>

<!-- Popup -->
<% @elements.each do |elem| %>
  <div class="popup demo-popup-<%= elem.id %>">
    <div class="page">
      <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
          <div class="title"><%= elem.name %></div>
          <div class="right"><a href="#" class="link popup-close">닫기</a></div>
        </div>
      </div>
      <div class="page-content">
        <div class="block">
          <% @benefits = elem.benefits %>
          <% @benefits.each do |benefit| %>
            <span>
              <i class="icon f7-icons if-not-md">hand_point_right</i>
              <i class="icon material-icons md-only">info</i>
              <%= benefit.title %><br>

              <% if !benefit.detail.nil? %>
                <span>
                  <%= benefit.detail %><br>
                <span>
              <% end %>
            </span>
          <% end %>
        </div>
        <div class="block">
          <% @notes = elem.notes %>
          <% if !@notes.nil? %>
            <% @notes.each do |note| %>
              <span>
                <i class="icon f7-icons if-not-md">exclamationmark_bubble</i>
                <i class="icon material-icons md-only">info</i>
                <%= note.content %><br>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="module">
  export default (props, { $f7, $on }) => {
    $on('pageInit', () => {
      // create searchbar
      var searchbar = $f7.searchbar.create({
        el: '.searchbar',
        searchContainer: '.list',
        searchIn: '.item-title',
        on: {
          search(sb, query, previousQuery) {
            console.log(query, previousQuery);
          },
          enable: function () {
            console.log('Searchbar enabled');
          }
        }
      });
    })

    return $render;
  }
</script>
