<div class="page page-with-subnavbar">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="subnavbar">
        <!-- Searchbar inside of Subnavbar -->
        <form class="searchbar searchbar-init" data-search-container=".list" data-search-in=".item-title" style="width: 100%;">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="검색어를 입력하세요..." />
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button if-not-aurora">취소</span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="block searchbar-hide-on-search">
      <p>
        제휴 업체 또는 매장 이름으로 검색 가능합니다.
        선택 시 해당 업체에 대한 혜택 상세 팝업이 표시됩니다.
      </p>
    </div>
    <div class="list searchbar-found">
      <ul>
        <% @elements.each do |elem| %>
          <li class="item-link item-content popup-open" data-popup=".demo-popup-<%= elem.id %>">
            <div class="item-inner">
              <div class="item-title"><%= elem.name %></div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="block searchbar-not-found">
      <div class="block-inner">검색 결과가 없습니다.</div>
    </div>
  </div>

  <!-- Searchbar backdrop layer -->
  <div class="searchbar-backdrop"></div>
</div>

<!-- Popup -->
<% @elements.each do |elem| %>
  <div class="popup demo-popup-<%= elem.id %>">
    <div class="page">
      <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
          <div class="title"><%= elem.name %></div>
          <div class="right">
            <a href="#" class="link popup-close">
              <i class="icon f7-icons if-not-md">multiply</i>
              <i class="icon material-icons md-only">close</i>
            </a>
          </div>
        </div>
      </div>
      <div class="page-content">
        <% if !elem.location.nil? %>
          <div class="block">
            <div class="element-title">
              <i class="icon f7-icons if-not-md size-20">info_circle</i>
              <i class="icon material-icons-outlined md-only">info</i>
              기본정보
            </div>
            <span class="element-detail">
              -&nbsp;주소:&nbsp;<%= elem.location %><br>
              <% if !elem.instagram.nil? %>
                -&nbsp;인스타그램: <a href="https://instagram.com/<%= elem.instagram %>">@<%= elem.instagram %></a><br>
              <% end %>
              -&nbsp;<a href="<%= elem.link %>">상세정보 네이버 지도에서 보기</a>
            </span>
          </div>
        <% end %>

        <div class="block">
          <div class="element-title">
            <i class="icon f7-icons if-not-md size-20">lightbulb</i>
            <i class="icon material-icons-outlined md-only">lightbulb</i>
            혜택
          </div>
          <span class="element-detail">
            <% @benefits = elem.benefits %>
            <% @benefits.each do |benefit| %>
              -&nbsp;<%= benefit.title %><br>
              <% if !benefit.detail.nil? %>
                <%= benefit.detail %><br>
              <% end %>
            <% end %>
          </span>
        </div>

        <% @notes = elem.notes %>
        <% if !@notes.empty? %>
          <div class="block">
            <div class="element-title">
              <i class="icon f7-icons if-not-md size-20">exclamationmark_bubble</i>
              <i class="icon material-icons-outlined md-only">feedback</i>
              참고사항
            </div>
            <span class="element-detail">
              <% @notes.each do |note| %>
                -&nbsp;<%= note.content %><br>
              <% end %>
            </span>
          </div>
        <% end %>

        <div class="block">
          <div class="element-title">
            <i class="icon f7-icons if-not-md size-20">pencil</i>
            <i class="icon material-icons md-only">edit</i>
            잘못된 정보가 있나요?
          </div>
          <span class="element-detail">
            잘못된 정보나 누락된 내용이 있다면 개발자에게 알려주세요!&nbsp;
            (<a href="mailto:juyeonglee0413@gmail.com?">이메일 보내기</a>)
          </span>
        </div>

      </div>
    </div>
  </div>
<% end %>
