<!DOCTYPE html>
<html>
  <head>
    <title>D-Map</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- App root element -->
    <div id="app">

      <!-- Your main view, should have "view-main" class -->
      <div class="view view-main safe-areas">
        <!-- Initial Page, "data-name" contains page name -->
        <div data-name="home" class="page page-content">

          <!-- Top Navbar -->
          <%= render 'shared/navbar' %>

          <!-- Scrollable page content -->
          <%= render 'shared/tabbar' %>

          <%= yield %>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var app = new Framework7({
        // App root element
        el: '#app',
        // App Name
        name: 'D-Map',
        // App id
        id: 'site.d-map',
        // Enable swipe panel
        panel: {
          swipe: true,
        },
        // Add default routes
        routes: <%= rails_info_routes_url.to_json.html_safe %>,
        // ... other parameters
      });
    </script>

  </body>
</html>
