<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <meta property="og:url" content="https://d-map.site/">
    <meta property="og:title" content="D-Map">
    <meta property="og:type" content=”website”/>
    <meta property="og:image" content="<%= asset_path 'd-map.png' %>">
    <meta property="og:description" content="동국, 그대를 위한 혜택 모음">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7615Y9E0WT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7615Y9E0WT');
    </script>

    <title>D-Map</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="<%= asset_path 'dongguk-logo.png' %>"/>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- App root element -->
    <div id="app">

      <!-- Your main view, should have "view-main" class -->
      <div class="view view-main safe-areas">
        <!-- Initial Page, "data-name" contains page name -->
        <div data-name="home" class="page page-content">

          <!-- Top Navbar -->
          <%= render 'shared/navbar' %>

          <!-- Scrollable page content -->
          <%= render 'shared/tabbar' %>

          <%= yield %>
        </div>
      </div>
    </div>

    <%= javascript_pack_tag 'toast', 'maps', 'elements', 'searchbar', 'popup' %>

    <!-- kakao AdFit -->
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

    <script type="text/javascript">
      // Dom7
      var $ = Dom7;

      var app = new Framework7({
        // App root element
        el: '#app',
        // App Name
        name: 'D-Map',
        // App id
        id: 'site.d-map',
        // Enable swipe panel
        panel: {
          swipe: true,
        },
        // ... other parameters
        on: {
          init: function () {
            // console.log('App initialized.');
          },
        }
      });
    </script>

  </body>
</html>
